body{
  background-color: black;
}
h1{
text-align: center;
background-color: black;
color: #FFE4E1;
}
h2{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
}
p{
  text-align: left;
  background-color: black;
  color: #FFE4E1;
}
.main{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
}
h3{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
}
