body{
  background-color: black;
}
h1{
font-size: 50px;
padding: 30px;
text-align: center;
background-color: black;
color: #FFE4E1;
font-family: 'Roboto Condensed', sans-serif;
}
h2{
  font-size: 35px;
  text-align: center;
  background-color: black;
  color: #FFE4E1;
  font-family: 'Roboto Condensed', sans-serif;
}
.contact{
border: 2px solid powderblue;
padding: 1px;
  font-size: 10px;
  text-align: center;
  background-color: black;
  color: #FFE4E1;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  margin-right: auto;
}
.image{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.main{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
  font-family: 'Oswald', sans-serif;
  margin: 5% auto;
  width: 80%
}
.main:first-letter {
color: blue;
font-size:200%;
}
.list{
text-align: left;
background-color: black;
color: #FFE4E1;
font-family: 'Oswald', sans-serif;
}
h4{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
  font-family: 'Roboto Condensed', sans-serif;
}
.table{
  text-align: center;
  background-color: black;
  color: #FFE4E1;
  font-family: 'Oswald', sans-serif;
}
.table{
  border: 1px solid white;
  border-collapse: collapse;
}
.sandbox{
  border: 1px solid white;
  border-collapse: collapse;
}
.facebook{
  border: 1px solid white;
  border-collapse: collapse;
}
.table:hover {
  background-color: yellow;
  color: black;
}
a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}
