body{
  background-color: black;
}
h1{
text-align: center;
background-color: #FFE4E1;
}
h2{
  text-align: center;
  background-color: #FFE4E1;
}
h3{
  text-align: center;
  background-color: #FFE4E1;
}

<h1 style="background-color:#FFE4E1 ;"</h1>


<h1 style="border:2px solid #FFE4E1 ;
