body{
  background-color: #eee79c;
  font-family: 'Quicksand', sans-serif;
  line-height: 2rem;
  color: black;
  font-size:1.3rem;
}
main{

  min-height: 100%;
  width:100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
}
.background{
  background-size: cover;
}
header{
  color:black;
  font-size:5rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  margin-top: 0;
}
h1{
  color:black;
  font-size:3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  margin-top: 0;
}
h2{
  color:black;
  font-size:3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  margin-top: 0;
}
.hide{
  display: none;
}
button{
  background: lightblue;
  padding: 1rem;
  font-size: 2rem;
  color: black;
}
.servings{
  display:inline-block;
  margin-top:3rem;
}
.intro{
  font-size:2rem;
  width:75%;
}
.ingredients1 img{
  position:absolute;
  bottom:9rem;
  width:60%;
}
.chop{
  font-size:2rem;
  width:75%;
}
.dressing{
  font-size:2rem;
  width:75%;
}
.mix{
  font-size:2rem;
  width:75%;
}
.serve{
  font-size:2rem;
  width:75%;
}
.serve img{
  position:absolute;
  bottom:9rem;
  width:60%;
  display: none;
}
