body{
  font-family: 'Quicksand' sans-serif;
  line-height: 2rem;
  color: black;
  font-size:36px;
}
main{
  background: url("..images/cuttingboard.jpg") no-repeat center fixed;
  background-size: cover;
  position: fixed;
  overflow:scroll;
  top: 0;
  left: 0;
  padding: 0 2rem;
}
header{
  color:black;
  font-size:25px;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  margin-top: 0;
}
h1 h2{
  color:black;
  font-size:20px;
  letter-spacing: 1rem;
  line-height: 4rem;
  margin-top: 0;
}
.cowboypic img{
  position:static;
}
.hide{
  display: none;
}
button{
  position: fixed;
  background: lightblue;
  padding: 1rem;
  font-size: 15px;
  color: black;
}
.servings{
  overflow:scroll;
  display:inline-block;
  margin-top:30px;
}
.intro .chop .dressing .mix .serve{
  overflow:scroll;
  font-size:10px;
  width:75%;
}
.veggie .mixingbowl .ingredients1 img{
  position:static;
  height: auto;
  width: auto;
}
.serve img{
  position:absolute;
  bottom:9rem;
  width:60%;
  display: none;
}
